In [1]:
import pandas as pd

#http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-de-segmentos-e-setoriais/
#baixei alguns dados da b3 p pegar os codigos dos ativos 

lista = ['IBOVDia_28-06-21.csv','ICONDia_28-06-21.csv','IFNCDia_28-06-21.csv','IMATDia_28-06-21.csv','IMOBDia_28-06-21.csv','INDXDia_28-06-21.csv','MLCXDia_28-06-21.csv','SMLLDia_28-06-21.csv','UTILDia_28-06-21.csv']

df = pd.DataFrame()
for i in lista:
    df = pd.concat([df, pd.read_csv(f'C:/Users/PICHAU/Desktop/indices_setores/{i}', skiprows = 1, index_col=False, sep=';', decimal = ',', encoding = 'ISO-8859-1')])

In [2]:
df.head()

  Código         Ação        Tipo  Qtde. Teórica  Part. (%)
0  ABEV3    AMBEV S/A          ON  4.358.542.894      3.207
1  ASAI3        ASSAI  ON      NM     88.180.251      0.325
2  AZUL4         AZUL  PN      N2    327.262.616      0.653
3  BTOW3  B2W DIGITAL  ON      NM    201.802.882      0.597
4  B3SA3           B3  ON      NM  6.119.434.194      4.434

In [3]:
df.isnull().sum()
#xd = pd.unique(df.Código)

Código            0
Ação             18
Tipo             18
Qtde. Teórica     0
Part. (%)         9
dtype: int64

In [4]:
# checando quais são os valores nan
df[df.Ação.isnull()== True]

                       Código Ação Tipo           Qtde. Teórica  Part. (%)
84   Quantidade Teórica Total  NaN  NaN          83.944.419.435      100.0
85                    Redutor  NaN  NaN     18.102.650,01289403        NaN
71   Quantidade Teórica Total  NaN  NaN          29.551.756.833      100.0
72                    Redutor  NaN  NaN    136.792.900,65550768        NaN
20   Quantidade Teórica Total  NaN  NaN          25.316.175.379      100.0
21                    Redutor  NaN  NaN     45.482.335,91439543        NaN
13   Quantidade Teórica Total  NaN  NaN           5.887.725.792      100.0
14                    Redutor  NaN  NaN     35.221.621,29565230        NaN
22   Quantidade Teórica Total  NaN  NaN           3.625.868.394      100.0
23                    Redutor  NaN  NaN     55.074.875,03068228        NaN
43   Quantidade Teórica Total  NaN  NaN          19.334.278.140      100.0
44                    Redutor  NaN  NaN     18.463.484,39649706        NaN
67   Quantidade Teórica Total  NaN  NaN          77.829.493.038      100.0
68                    Redutor  NaN  NaN  1.018.289.338,11497683        NaN
110  Quantidade Teórica Total  NaN  NaN          23.965.748.283      100.0
111                   Redutor  NaN  NaN    125.130.325,76425300        NaN
25   Quantidade Teórica Total  NaN  NaN           8.607.176.659      100.0
26                    Redutor  NaN  NaN     21.836.783,73052079        NaN

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

Código           0
Ação             0
Tipo             0
Qtde. Teórica    0
Part. (%)        0
dtype: int64

In [6]:
codigo = pd.unique(df.Código)
codigo

array(['ABEV3', 'ASAI3', 'AZUL4', 'BTOW3', 'B3SA3', 'BIDI11', 'BBSE3',
       'BRML3', 'BBDC3', 'BBDC4', 'BRAP4', 'BBAS3', 'BRKM5', 'BRFS3',
       'BPAC11', 'CRFB3', 'CCRO3', 'CMIG4', 'HGTX3', 'CIEL3', 'COGN3',
       'CPLE6', 'CSAN3', 'CPFE3', 'CVCB3', 'CYRE3', 'ECOR3', 'ELET3',
       'ELET6', 'EMBR3', 'ENBR3', 'ENGI11', 'ENEV3', 'EGIE3', 'EQTL3',
       'EZTC3', 'FLRY3', 'GGBR4', 'GOAU4', 'GOLL4', 'NTCO3', 'HAPV3',
       'HYPE3', 'IGTA3', 'GNDI3', 'IRBR3', 'ITSA4', 'ITUB4', 'JBSS3',
       'JHSF3', 'KLBN11', 'RENT3', 'LCAM3', 'LWSA3', 'LAME4', 'LREN3',
       'MGLU3', 'MRFG3', 'BEEF3', 'MRVE3', 'MULT3', 'PCAR3', 'PETR3',
       'PETR4', 'BRDT3', 'PRIO3', 'QUAL3', 'RADL3', 'RAIL3', 'SBSP3',
       'SANB11', 'CSNA3', 'SULA11', 'SUZB3', 'TAEE11', 'VIVT3', 'TIMS3',
       'TOTS3', 'UGPA3', 'USIM5', 'VALE3', 'VVAR3', 'WEGE3', 'YDUQ3',
       'AALR3', 'ALPA4', 'ANIM3', 'ARZZ3', 'BKBR3', 'AGRO3', 'CAML3',
       'CEAB3', 'CURY3', 'PNVL3', 'DIRR3', 'EVEN3', 'GFSA3', 'GRND3',
       'GMAT3', 'SBFG3', 'SOMA3', 'GUAR3', 'HBOR3', 'PARD3', 'MEAL3',
       'MYPK3', 'LAVV3', 'LAME3', 'AMAR3', 'MDIA3', 'LEVE3', 'MTRE3',
       'MOVI3', 'ODPV3', 'PETZ3', 'LJQQ3', 'RDOR3', 'SMTO3', 'SEER3',
       'SLCE3', 'TCSA3', 'TEND3', 'TRIS3', 'VIVA3', 'VULC3', 'ABCB4',
       'BMGB4', 'BIDI4', 'BPAN4', 'BRSR6', 'ITUB3', 'PSSA3', 'DTEX3',
       'FESA4', 'RANI3', 'UNIP6', 'ALSO3', 'BRPR3', 'JPSA3', 'LOGG3',
       'LPSB3', 'AERI3', 'ROMI3', 'POMO4', 'PTBL3', 'POSI3', 'RAPT4',
       'TASA4', 'TUPY3', 'CMIG3', 'CPLE3', 'NEOE3', 'TRPL4', 'RRRP3',
       'AESB3', 'ALUP11', 'AMBP3', 'CESP6', 'CSMG3', 'ENAT3', 'ENJU3',
       'HBSA3', 'LIGT3', 'LOGN3', 'CASH3', 'MILS3', 'NGRD3', 'OMGE3',
       'RCSL4', 'SAPR4', 'SAPR11', 'STBP3', 'SEQL3', 'SIMH3', 'SQIA3',
       'TGMA3', 'VLID3', 'WIZS3'], dtype=object)

# scraping

In [7]:
import requests
from bs4 import BeautifulSoup

df = pd.DataFrame()

for i in codigo:
    req = requests.get(f'https://statusinvest.com.br/acoes/{i}')
    if req.status_code == 200:
        content = req.content

    soup = BeautifulSoup(content, 'html.parser')
    table = soup.find_all('div', {'class':'info'})
    x = soup.find_all('div', {'class':'w-50 w-sm-33 w-md-25 w-lg-16_6 mb-2 mt-2 item'})
    y = soup.find_all('div', {'class':'w-50 w-sm-33 w-md-25 w-lg-50 mb-2 mt-2 item'})

    dic = {'codigo' : i ,table[27].h3.text : table[27].strong.text, table[29].h3.span.text : table[29].strong.text,
          x[0].h3.text : x[0].strong.text, 
          x[1].h3.text : x[1].strong.text, 
          x[2].h3.text : x[2].strong.text,
          x[3].h3.text : x[3].strong.text, 
          x[4].h3.text : x[4].strong.text, 
          x[5].h3.text : x[5].strong.text,
          x[6].h3.text : x[6].strong.text, 
          x[7].h3.text : x[7].strong.text, 
          x[8].h3.text : x[8].strong.text,
          x[9].h3.text : x[9].strong.text, 
          x[10].h3.text : x[10].strong.text, 
          x[11].h3.text : x[11].strong.text,
          x[12].h3.text : x[12].strong.text, 
          x[13].h3.text : x[13].strong.text, 
          x[14].h3.text : x[14].strong.text,
          x[15].h3.text : x[15].strong.text,
          x[16].h3.text : x[16].strong.text,
          x[17].h3.text : x[17].strong.text,
          x[18].h3.text : x[18].strong.text,
          x[19].h3.text : x[19].strong.text,
          y[0].div.h3.text : y[0].div.strong.text,
          y[1].div.h3.text : y[1].div.strong.text,
          y[2].div.h3.text : y[2].div.strong.text,
          y[3].div.h3.text : y[3].div.strong.text}

    df = df.append(dic, ignore_index=True)

In [8]:
df.head()

,D.Y,Dív. líquida/EBIT,Dív. líquida/EBITDA,Dív. líquida/PL,EV/EBIT,EV/EBITDA,LPA,Liq. corrente,M. Bruta,M. EBIT,...,P/EBITDA,P/L,P/SR,P/VP,PEG Ratio,PL/Ativos,Passivo/Ativos,VPA,Valor de mercado,codigo
0,"2,82%","-0,61","-0,48","-0,15","13,91","10,88","0,93","1,14","52,59%","28,38%",...,"11,36","18,81","4,12","3,47","0,30","0,63","0,36","5,01",274.058.734.945,ABEV3
1,"0,36%","2,20","1,36","2,62","12,60","7,78","1,24","1,17","15,49%","6,66%",...,"6,42","14,20","0,69","12,36","0,19","0,09","0,91","1,42",23.684.922.599,ASAI3
2,-%,"-4,70","16,34",-,"-15,53","53,96","-2,51","0,65","6,85%","-19,48%",...,"137,28","-14,74","7,69","-2,97","0,20","-0,91","1,91","-12,47",12.794.763.517,AZUL4
3,-%,"9,10","1,65","0,11","198,09","35,92","-0,24","2,04","28,79%","1,40%",...,"34,27","-163,89","2,64","2,24","19,80","0,37","0,63","17,42",35.174.333.997,BTOW3
4,"7,55%","-1,27","-1,09","-0,36","11,54","9,93","0,76","1,59","90,85%","63,19%",...,"11,02","17,85","8,10","3,68","0,46","0,46","0,54","3,70",83.619.900.000,B3SA3

In [9]:
for i in df.columns[:-1]:  #tiro a coluna codigo do loop   
    df[i] = df[i].str.replace('-%', '0')
    df[i] = df[i].str.replace('.', '')
    df[i] = df[i].str.replace(',', '.')
    df[i] = df[i].str.replace('-', '0')
    df[i] = df[i].str.replace('%', '').astype(float)

C:\Users\PICHAU\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   D.Y                  178 non-null    float64
 1   Dív. líquida/EBIT    178 non-null    float64
 2   Dív. líquida/EBITDA  178 non-null    float64
 3   Dív. líquida/PL      178 non-null    float64
 4   EV/EBIT              178 non-null    float64
 5   EV/EBITDA            178 non-null    float64
 6   LPA                  178 non-null    float64
 7   Liq. corrente        178 non-null    float64
 8   M. Bruta             178 non-null    float64
 9   M. EBIT              178 non-null    float64
 10  M. EBITDA            178 non-null    float64
 11  M. Líquida           178 non-null    float64
 12  Nº total de papeis   178 non-null    float64
 13  P/Ativo              178 non-null    float64
 14  P/Ativo Circ. Liq.   178 non-null    float64
 15  P/Cap. Giro          178 non-null    float64
 16  P/EBIT               178 non-null    float64
 17  P/EBITDA             178 non-null    float64
 18  P/L                  178 non-null    float64
 19  P/SR                 178 non-null    float64
 20  P/VP                 178 non-null    float64
 21  PEG Ratio            178 non-null    float64
 22  PL/Ativos            178 non-null    float64
 23  Passivo/Ativos       178 non-null    float64
 24  VPA                  178 non-null    float64
 25  Valor de mercado     178 non-null    float64
 26  codigo               178 non-null    object
dtypes: float64(26), object(1)
memory usage: 37.7+ KB

# regressao linear

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x = df.drop(['Valor de mercado', 'codigo', 'Nº total de papeis'], axis = 1)
y = df['Valor de mercado']

# Dividindo X e Y em dados de treino e de teste
X_treino, X_teste, Y_treino, Y_teste = train_test_split(x, y, test_size = 0.26, random_state = 5) #test_size de 30% ideal

In [12]:
regr = LinearRegression()
# Treinando o modelo
regr.fit(X_treino, Y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
regr.score(X_teste, Y_teste)

0.13425212901686878

In [14]:
atual = []
previsto = []

for i in range(len(df)):
    reg = regr.predict([x.loc[i]])
    xd = reg / df['Nº total de papeis'][i]
    previsto.append(xd.tolist()[0]) # tirando o array
    atual.append(df['Valor de mercado'][i] / df['Nº total de papeis'][i])

    
df['preco_atual'] = atual
df['preco_previsto'] = previsto
df['potencial de ganho (%)'] = (df['preco_previsto'] - df['preco_atual']) / df['preco_atual'] * 100

In [15]:
maiores = df.nlargest(10, 'potencial de ganho (%)')
menores = df.nsmallest(10, 'potencial de ganho (%)')

for i in range(len(maiores)):
    print('{} | codigo: {} / maiores retornos: {:.2f}%'.format(i+1, maiores['codigo'].iloc[i], maiores['potencial de ganho (%)'].iloc[i]))
print('-----------------------')    
for i in range(len(maiores)):
    print('{} | codigo: {} / menores retornos: {:.2f}%'.format(i +1, menores['codigo'].iloc[i], menores['potencial de ganho (%)'].iloc[i]))

1 | codigo: CURY3 / maiores retornos: 2579.63%
2 | codigo: TASA4 / maiores retornos: 2553.22%
3 | codigo: BMGB4 / maiores retornos: 2432.28%
4 | codigo: RCSL4 / maiores retornos: 2115.07%
5 | codigo: ROMI3 / maiores retornos: 1953.93%
6 | codigo: LPSB3 / maiores retornos: 1791.12%
7 | codigo: ABCB4 / maiores retornos: 1739.63%
8 | codigo: DIRR3 / maiores retornos: 1679.92%
9 | codigo: POSI3 / maiores retornos: 1570.53%
10 | codigo: BRSR6 / maiores retornos: 1529.70%
-----------------------
1 | codigo: VLID3 / menores retornos: -6220.18%
2 | codigo: NGRD3 / menores retornos: -4409.04%
3 | codigo: MTRE3 / menores retornos: -3282.30%
4 | codigo: TCSA3 / menores retornos: -3226.68%
5 | codigo: LAVV3 / menores retornos: -1985.60%
6 | codigo: BEEF3 / menores retornos: -944.26%
7 | codigo: ENAT3 / menores retornos: -732.80%
8 | codigo: MILS3 / menores retornos: -658.72%
9 | codigo: POMO4 / menores retornos: -597.75%
10 | codigo: VULC3 / menores retornos: -498.39%